$link: #7198C3;
$link-hover: #436185;
$light: rgba(247,255,234, 1);

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);

#blog {
  background: url('wood_1.png') 0 0 repeat;
  color: #5B5E68;
  font-family: 'Lato', sans-serif;

  section{
    max-width: 768px;
    margin:50px auto;
    padding: 20px 50px;
    background-color: $light;
  }
  h1, h2, h4 {
  text-align:center;
  margin-bottom:20px;
  }
  a {
    color: $link;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: $link-hover;
    }
    &.see-all {
      float:right;
    }
  }

  .post {
    width:75%;
    padding: 10px 20px;
    margin: 0 auto;
    border:1px solid rgba(91,94,104,0.5);
    border-bottom:3px solid rgba(91,94,104,0.5);
    text-align: center;
    background: white;
  }
  .author {
    font-style: italic;
  }
  header {
    padding: 25px 0 0 0;

    h1 {
      color: $light;
      font-size:  3em;
    }
  }
  footer {
    border-top: 1px solid #ccc;
    margin-top: 50px;
  }
}