  <% @posts.each do |post| %>

    <div class="post">
      <h3><%= link_to post.name, post %></h3>
      <p class="author"><%= post.author %> </p>
    </div>
  <br><br>
  <% end %>



<a href="/posts/new" class="see-all">Add new post &raquo;</a>