<h2>Write New Post</h2>

  <form action="/posts" method="post" role="form">
    <div class="form-group">
      <input type="text" name="post[name]" placeholder="Post Title" class="form-control" >
    </div>
    <div class="form-group">
      <input type="text" name="post[author]" placeholder="Author Name" class="form-control" >
    </div>
    <div class="form-group">
      <textarea name="post[content]" placeholder="Post Content" class="form-control" ></textarea>
    </div>
    <div class="form-group">
      <input type="text" name="tag[name]" placeholder="Tag" class="form-control" >
    </div>
    <%= token_tag form_authenticity_token %>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>



<a href="/" class="see-all">See all posts &raquo;</a>